body{
    font-weight: bold;
}
p.alertText{
    font-style: italic;
}
input.delete{
    color: white;
    position: absolute;
    padding: 6px 10px;
    margin-top: -4px;
    right: 54px;
    background-color: rgb(223, 18, 18);
    border: 1.5px solid;
    border-color: black;
    border-radius: 50%;
}
.button{
    background: white;
    border-radius: 5px;
    border: solid;
    border-width: 2px;
}

#input{
    padding-right: 39%;
    padding-left: 6%;
    border-radius: 8px;
    border: none;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 2%;
}
select.priority{
    position: absolute;
    right: 98px;
    margin-top: 0px;
}
h1{
    text-align: center;
}
div.container{
    position: relative;
    background-color:greenyellow;
    width: 345px;
    min-height: 400px;
    padding: 15px;
    padding-top: 0px;
    border-style: outset;
    border-width: 10px;
    border-color: rgb(0, 68, 3);
    border-radius: 35px;
}
ul {
    padding: 0;
}
li{
    list-style-type: none;
    padding-top: 15px;
}
li.checked {
    text-decoration: line-through;
    color: #555;
    font-style: italic;
}